<!DOCTYPE html>
<html lang="en">
<head>
    <title>Search Engin</title>
</head>
<body>
    <form action="/search" method="POST">
        <form action="#" method="POST">
            <div class="box">
                <input name="query" type="text submit" placeholder="Search the web" class="bar" value="{{query}}" required>
            </div>
        </form>
    </form>
    <hr>
    <div class="results">
        {%for i in results%}
            <a href="{{i}}">{{i}}</a><br><br>
        {%endfor%}
    </div>
    <br><br>
</body>
</html>