.searchbar{
    margin-left: 10px;
    width: 100%;
    padding-top: 10px;
}

.bar{
    border-radius: 200px;
    box-shadow: 2px 3px 0px -2px #ccc;
    padding:10px;
    border:0px;
    outline: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #CCC;
    width: 1000px;
}

.bar:hover{
    box-shadow: 3px 6px 7px -3px #ccc;
}


.results {
    margin-left: 200px;
}
.searchbar{
    border: 5px outset red;
    background-color: lightblue;
    text-align: center;
}

.bar:focus {
    box-shadow: 3px 6px 7px -3px #ccc;
}

.search-title {
    font-size: 500px;
    
    text-align: center;
}
